.homePageGridContainer {
  padding: 0%;
  margin: 0%;
  display: grid;
  grid-template-columns: 25vw 1fr; 
  grid-auto-columns: minmax(minimum, maximum);
}

.HomePageRightContainer{
  /* border:3px solid green; */
  padding: 0%;
  width: 100%;
  background-color: #E4E4E4A8;
}

.homePageH1andH2 {
  /* border: 1px solid blue; */
  margin-bottom: 1%;
  margin-top: 1%;
  width: 100%;
  box-sizing: border-box;
}

.homePageH1 {
  color: #171a1d;
  font-size: 3vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  /* border: 3px solid yellow; */
  margin-bottom: 1%;;
  text-align: center;
}

.homePageH2 {
  color: #171a1d;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* border: 3px solid pink; */
  width: 100%;
  margin: 0%;
}

.homePageNavContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  background-color: #ec242a;
}

.homePageNavColumn {
 width: 80%;
}

.homePageNavButton {
  background-color: white;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 15%;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
  color: #171a1d;
  text-decoration: none;
  transition: 350ms;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Roboto', sans-serif;
}

.homePageNavButton:hover {
  color: white;
  background-color: #E4E4E4A8;;
  font-size: 1.6vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .getMovieButton {
  font-size: 1.25vw;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  color: #171a1d;
  margin: 2% 0 5% 3%;
  background-color: #c;
  padding: 0.5% 0;
  width: 15%;
  border: none;
  transition: 350ms;
}

.getMovieButton:hover {
  background-color: #ec242a;
  color: white;
  cursor: pointer;
} */

.homePageVideoContainer {
  margin-left: 3%;
  margin-bottom: 2%;
}

.homePageMovieProperties {
    margin-left: 3%; 
    margin-top: 3%;
    color: #171a1d;
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.shareRecommendationButton {
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  color: white;
  margin: 4% 0 2%;
  background-color: #ec242a;
  border: none;
  transition: 350ms;
}

.shareRecommendationButton:hover {
  background-color: #e4e4e4a8;
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.1vw; 
}

.homePageCarouselItem {
  text-align: center; 
  /* border: 3px solid blue; */
}

.homePageVideoCard {
  /* border: 3px solid yellow; */
  justify-content: center;
  margin: 0 auto;
}

.movieAccordion {
  border: 1px solid #ec242a;
  border-radius: 5px;
  margin-top: 1%;
}

.movieAccordionHeader {
  font-family: 'Roboto', sans-serif;
}

.movieCard {
  background-color: #e4e4e4a8;
}

.AIButton {
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  color: white;
  margin: 4% 0 2%;
  background-color: #ec242a;
  border: none;
  transition: 350ms;
}

.AIButton:hover {
  background-color: #e4e4e4a8;
  color: black;
  cursor: pointer;
}

.homepageErrorMsg{
  text-align: center;
  color: #ec242a;
}